* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.parrotImg {
  height: 40px;
  animation-name: hoverEffect;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  position: relative;
}

@keyframes hoverEffect {
  0% {
    top: 0;
  }

  50% {
    top: 1rem;
  }

  100% {
    top: 0;
  }
}

.myName p {
  display: inline-block;
  font-family: 'AnkaCoderNarrowRegular';
  font-style: normal;
  font-size: 32px;
  font-weight: lighter;
  letter-spacing: 0.4rem;
}

.myName {
  text-align: center;
  background-color: #f6f5f5;
  padding: 15px;
  padding-left: 150px;
}

/* ^^^^ THIS IS STYLING FOR THE HEADER ^^^^^ */
.navBar {
  background-color: #e8e6e6;
  /* height: 500px; */
  max-width: 235px;
  border-radius: 2.5%;
  transition: text-decoration 5s;
  float: left;
  position: fixed;
  z-index: 9999;
  bottom: -20px;
  height: 600px;
  width: 190px;
}

.navBar p {
  font-family: Consolas;
  font-size: 14px;
  padding-bottom: 0;
}

.TEST_TITLE {
  padding: 25px;
  padding-left: 20px;
}

.TESTSTUFF {
  position: relative;
  color: #000;
  /* display: inline-block; */
  padding-bottom: 0;
  width: 125px;
  margin: 29px;
  text-decoration: none;
}

.TESTSTUFF a {
  color: #000;
  text-decoration: none;
}

.TESTSTUFF:hover {
  color: #000;
}

.TESTSTUFF::before {
  text-decoration: none;
  color: black;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.TESTSTUFF:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* ^^^^ THIS IS FOR MY SIDE NAVBAR ^^^^^ */

.BioDiv {
  background-color: white;
  display: block;
  position: relative;
  top: 570px;
  height: 475px;
}

.myTableBio {
  margin: 40px auto;
  margin-left: 220px;
}

.myTableBio tr td {
  font-family: Consolas;
  padding: 25px;
}

.myTableBio tr td img {
  width: 300px;
  height: 300px;
  transition: width 1s, height 1s, opacity 2s;
}

.myTableProject tr td img:hover {
  width: 305px;
  height: 305px;
  opacity: 0.3;
}


/* ^^^^ THIS IS FOR MY INTRODUCTION ^^^^^ */

.programBar {
  background-color: #6b6565;
  border-radius: 1%;
  /* max-width: 275px; */
  float: left;
  height: 480px;
  width: 1028px;
  max-width: 1028px;
  overflow: hidden;
  position: absolute;
  left: 213px;
  top: 120px;
}

.programBar a {
  color: white;
}

.programBar p {
  font-family: Consolas;
}

.programBar .helloWord {
  color: #cf5f55;
}

.programTitle span {
  color: #3f96d9;
}

.programText {
  color: #171515;
  font-size: 16px;
  margin-top: 37px;
}

.programText .whiteText {
  color: white;
}

.programBarSide {
  background-color: #7a7373;
  float: left;
  height: 500px;
  width: 50px;
}

.programBarSide p {
  font-family: Consolas;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 0;
}

.programBarSide p:nth-child(odd) {
  background-color: #8a8181;
}

.setters {
  color: #469c50;
}

.myBlueName {
  color: #3f96d9;
}

.TypingBox {
  width: 190px;
  margin-left: 100px;
}

.programTitle {
  /* text-align: center; */
  text-align: left;
  font-size: 28px;
  width: 190px;
  align-content: center;
}

.programTitle {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  margin-left: 320px;
  margin-top: 5px;
  /* letter-spacing: .15em; */
  animation: typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

#one {
  margin-top: 33px;
}

#two {
  margin-top: 30px;
}

#three,
#four,
#six {
  margin-top: 29px;
}

#five {
  margin-top: 28px;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: orange;
  }
}

/* ^^^^^^^ THIS IS FOR MY ABOUT ME SECTION ^^^^^^^ */
.projectHeaderDiv {
  background-color: #f6f5f5;
  /* width: 100%; */
  /* height: 49px; */
  display: block;
  position: relative;
  top: 580px;
  padding: 15px;
}

.projectHeaderDiv p {
  font-family: 'AnkaCoderNarrowRegular';
  font-size: 32px;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 0.4rem;
  margin-left: 125px;
}

.myProjectDiv {
  background-color: white;
  display: block;
  position: relative;
  top: 570px;
  height: 1000px;
}

.myTableProject {
  margin: 40px auto;
  margin-left: 240px;
}

.myTableProject tr td {
  font-family: Consolas;
  padding: 25px;
}

.myTableProject tr td img {
  box-shadow: 1px 1px 3px #888888;
  width: 290px;
  height: 270px;
  opacity: 0.8;
  transition: width 1s, height 1s, opacity 2s;
}

.myTableProject tr td img:hover {
  width: 300px;
  height: 290px;
  opacity: 1;
}

/* ^^^^^^^ THIS IS FOR MY PROJECTS ^^^^^^^^ */
.experienceHeaderDiv {
  background-color: #f6f5f5;
  display: block;
  position: relative;
  top: 580px;
  padding: 15px;
}

.experienceHeaderDiv p {
  font-family: 'AnkaCoderNarrowRegular';
  font-size: 32px;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 0.4rem;
  margin-left: 125px;
}

.experienceDiv {
  background-color: white;
  display: block;
  position: relative;
  top: 400px;
  height: 475px;
  align-content: center;
}

.experienceListONE {
  margin: 220px auto;
  margin-left: 325px;
  margin-bottom: 150px;
}

.experienceListONE .osList {
  margin-left: 325px;
}

.experienceListTWO {
  margin: 20px auto;
  margin-left: 325px;
}

.experienceListTWO .fmList {
  margin-left: 325px;
}

.experienceDiv ul {
  display: inline-block;
  font-family: Consolas;
  list-style-type: square;
  font-size: 24px;
}

.experienceDiv ul p {
  font-weight: bold;
  font-size: 26px;
}

.listItem {
  padding-top: 29px;
}

/* ^^^^^^^^^^^^^^ THIS IS FOR MY EXPERIENCE ^^^^^^^^^^^ */
.contactHeaderDiv {
  background-color: #f6f5f5;
  display: block;
  position: relative;
  top: 375px;
  padding: 15px;
}

.contactHeaderDiv p {
  font-family: 'AnkaCoderNarrowRegular';
  font-size: 32px;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 0.4rem;
  margin-left: 125px;
}

.contactDiv {
  background-color: white;
  display: block;
  position: relative;
  top: 375px;
  height: 125px;
  align-content: center;
}

.contactDiv table {
  margin: 40px auto;
  margin-left: 210px;
}

.contactDiv table td {
  padding: 100px;
  padding-bottom: 25px;
  padding-top: 25px;
}

.Icons {
  width: 50px;
  transition: width 1s ease-in-out;
}

.Icons:hover {
  width: 60px;
}